@font-face {
  font-family: 'AdobeGaramondPro';
  src: url('/assets/Adobe Garamond Pro Regular.ttf')  format('truetype');
}

body {
  font-family: 'AdobeGaramondPro', serif;
  color: #595353;
  /*background: url('/assets/circles.png') repeat;*/
  background: white;
}

body .row .col {
  padding: 0;
}

/*LANDING*/

.landingBackground {
  background: url('/assets/barrel-room-dark.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

.logo {
  height: 50px;
  padding-top: 10px;
  width: auto;
}

nav.landingNav {
  background: none;
  box-shadow: none;
  margin-bottom: 40px;
}

nav.landingNav a.logo {
  height: 70px;
}

nav.landingNav li a {
  color: white !important;
}
/* Landing Form */

.landingForm {
  height: 80vh;
  color: white;
}

.landingForm select {
  color: #595353;
}

.landingForm img {
  width: 90%;
  height: auto;
}

.landingForm button {
  margin-top: 20px;
}

/* Beer Form */
.beerForm {
  height: 80vh;
  color: black;
}

.beerForm select {
  color: black;
}

.beerForm img {
  width: 90%;
  height: auto;
}

.beerForm button {
  margin-top: 20px;
}

.button a {
  color: black;
}

.input-field input[type=text]:focus + label {
  color: red;
}

.input-field input[type=text]:focus,
.input-field input[type=password]:focus,
.input-field input[type=email]:focus,
.input-field input[type=date]:focus {
  border-bottom: 1px solid #f44336;
  box-shadow: 0 1px 0 0 #000;
}

a h1 {
  color: white;
}

/*DASHBOARD*/
.left-nav {
  background: white;
  height: 100vh;
  border-right: solid 1px #595353;
  position: relative;
}

.left-nav .button {
  height: 80px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  border-bottom: solid 1px #595353;
}

.left-nav .button a {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.left-nav img {
  width: 100%;
  height: 60px;
}

.left-nav .bottom-button {
  position: absolute;
  bottom: 0;
  left: 0;
}

.dashboardBanner {
  padding-top:10px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://d1h6bqmdexfe1t.cloudfront.net/uploads/header_image/image/11/desktop2x_1454200976_Featured-Beer-Header.jpg);
  background-size: cover;
  color: white;
  height: 50vh;
}

.dashboardBanner a {
  color: rgb(238, 210, 210);
}

.row {
  margin-bottom: 0;
}

section .circle {
  margin: 10px;
  height: 40vh;
}

.row .mainDashboard {
  padding: 0;
  height: 100vh;
  overflow: scroll;
}

main .more-info section.col {
  padding-right: 5%;
}

#canvas {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2000;
}

/*REDEEM*/

.walt {
  width: 200px;
}

.swag {
  margin: 5%;
}

.swag img {
  height: 150px;
}
