@font-face {
  font-family: 'AdobeGaramondPro';
  src: url('/assets/AdobeGaramondProRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

body {
  background: url('/assets/circles.png') repeat;
  font-family: 'AdobeGaramondPro', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-nav {
  width: 100%;
  padding: 20px;
  background-color: #444;
  color: #fff;
  display: flex;
  justify-content: flex-start;
}

.brand {
  margin-left: 20px;
}

.check-your-brew-form {
  width: 80%;
  max-width: 300px;
}

label, .btn-custom {
  margin-top: 20px;
}
