@font-face {
  font-family: 'AdobeGaramondPro';
  src: url('/assets/Adobe Garamond Pro Regular.ttf')  format('truetype');
}

body {
  background: url('/assets/circles.png') repeat;
  font-family: 'AdobeGaramondPro', serif;
}

.brand-logo {
  margin-left: 20px;
  font-size: 1.4em;
}

.logo {
  height: 40px;
  margin: 12px;
  width: auto;
}
