<div class="row">
  <div class="col s1 left-nav">
    <div class="row button">
      <a class="waves-effect waves-red tooltipped" ui-sref="dashboard.profile" data-position="right" data-delay="50" data-tooltip="Profile">
        <img src="../assets/icon05.svg" alt="profile" />
      </a>
    </div>
    <div class="row button">
      <a class="waves-effect waves-red tooltipped" ui-sref="dashboard.batch({batch_id: getBatch()})" data-position="right" data-delay="50" data-tooltip="Beer">
        <img src="../assets/icon07.svg" alt="profile" />
      </a>
    </div>
    <div class="row button">
      <a class="waves-effect waves-red tooltipped" ui-sref="redeem" data-position="right" data-delay="50" data-tooltip="Beer">
        <i class="medium material-icons">store</i>
      </a>
    </div>
  </div>
  <div class="col s11 mainDashboard" ui-view></div>
</div>
