<div class="container">
  <h1 class="center-align">Know Your Brew</h1>
  <div class="row">
    <form class="col s12" ng-submit="submit()">
      <div class="row">
        <div class="input-field col s12">
          <label>Beer</label>
          <br>
          <br>
          <select ng-model="brew.beer_id" class="browser-default">
            <option value="" disabled selected>Select a Beer</option>
            <option value="{{ beer.id }}" ng-repeat="beer in beers">{{ beer.name }}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="quote" type="text" class="validate" ng-model="brew.quote">
          <label for="quote">Quote</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <label for="date">Date</label>
          <br>
          <br>
          <input id="date" type="date" class="validate" ng-model="brew.date">
        </div>
        <div class="input-field col s6">
          <label for="time">Time</label>
          <br>
          <br>
          <input id="time" type="time" class="validate" ng-model="brew.time">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <label for="tank">Tank</label>
          <br>
          <br>
          <input id="tank" type="text" class="validate" ng-model="brew.tank">
        </div>
      </div>
      <div class="row">
        <div class="center-align">
          <button class="btn waves-effect waves-light" type="submit">Know Your Brew</button>
        </div>
      </div>
    </form>
  </div>
</div>
