<header class="landing-nav">
  <h1 class="brand">Know Your Brew</h1>
  <section class="logos">
    <a href="http://www.averybrewing.com/" target="_blank"><img class="logo" src="/assets/avery-logo.png" alt="Avery Brewing" /></a>
    <a href="http://www.mondorobot.com/" target="_blank"><img class="logo" src="/assets/mondo-robot-logo.png" alt="Avery Brewing" /></a>
  </section>
</header>

<div class="container">
  <h1>Check Your Brew</h1>
  <form class="check-your-brew-form" ng-submit="submit()">
    <select ng-model="brew.beer_id" placeholder="Select a beer">
      <option value="{{ beer.name }}" ng-repeat="beer in beers">{{ beer.name }}</option>
    </select>
    <label>Quote</label>
    <input name="quote" ng-model="brew.quote" ng-init="quote">
    <label>Date</label>
    <input type=date name="date" ng-model="brew.date">
    <label>Time of Day</label>
    <input name="time" ng-model="brew.time">
    <label>Tank</label>
    <input name="tank" ng-model="brew.tank">
    <button type="submit" class="btn-flat">Submit</button>
  </form>
</div>
