<div class="row">
  <div class="col s1 left-nav">
    <div class="row button">
      <a class="waves-effect waves-red" ui-sref="dashboard.profile">
        <img src="../assets/icon05.svg" alt="profile" />
      </a>
    </div>
    <div class="row button">
      <a class="waves-effect waves-red" ui-sref="landing">
        <img src="../assets/icon07.svg" alt="profile" />
      </a>
    </div>
  </div>
  <div class="col s11">
    <div class="row center-align" ng-show="loading">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container row" ng-show="!loading">
      <form class="col s12" ng-submit="login()">
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate" ng-model="email">
            <label for="email">Email</label>
          </div>
          <div class="input-field col s12">
            <input id="password" type="password" class="validate" ng-model="password">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <button class="waves-effect waves-light btn-large red" type="submit">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
