<div class="container">
    <h1>{{user.first_name}}
        {{user.last_name}}</h1>
    <div class="row center-align" ng-show="loading">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="!loading && awards.length === 0">
        <h2>Drink up!</h2>
        <h2>You have not earned any badges yet. :(</h2>
    </div>
    <div class="row" ng-show="!loading && awards.length > 0">
        <ul class="collection with-header col s12 m6">
            <li class="collection-header">
                <h4>Batches</h4>
            </li>
            <li class="collection-item avatar" ng-repeat="batch in batches" ui-sref="dashboard.batch({batch_id: batch.id})">
                <img src="../assets/icon01.svg" alt="" class="circle">
                <span class="title">{{ batch.beer.name }} - {{batch.quote}}</span>
                <a href="#!" class="secondary-content">
                  <br  />
                  <br  />
                  <i class="material-icons">{{batch.date | date}} {{batch.time}}</i>
                </a>
            </li>
        </ul>
        <ul class="collection with-header col s12 m6">
            <li class="collection-header">
                <h4>Badges</h4>
            </li>
            <li class="collection-item avatar" ng-repeat="award in awards">
                <img src="../assets/icon01.svg" alt="" class="circle">
                <span class="title">{{award.name}}</span>
                <a class="secondary-content">
                    <i class="material-icons">{{award.points}}pts</i>
                </a>
            </li>
        </ul>
        <ul class="collection with-header col s12 m6">
            <li class="collection-header">
                <h4>Batch Crew Connections</h4>
            </li>
            <li class="collection-item avatar" ng-repeat="employee in employees">
                <img ng-src="{{employee.image_url}}" alt="" class="circle">
                <span class="title"><em>{{employee.description}}</em> - {{ employee.first_name }} {{employee.last_name}}</span>
                <a href="#!" class="secondary-content">
                  <br  />
                  <br  />
                  <i class="material-icons">{{employee.name}}</i>
                </a>
            </li>
        </ul>
    </div>
</div>
