<canvas ng-show="yay" id="canvas"></canvas>
<div class="container">
    <h1 ng-click="confetti()">{{user.first_name}}
        {{user.last_name}}</h1>
    <div class="row center-align" ng-show="loading">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="!loading">
        <ul class="collection with-header col s12 m6">
            <li class="collection-header">
                <h4>Batches</h4>
            </li>
            <li class="collection-item avatar" ng-repeat="batch in batches" ui-sref="dashboard.batch({batch_id: batch.id})">
                <img src="../assets/icon01.svg" alt="" class="circle">
                <span class="title" on-click="batchRedirect()">{{ batch.beer.name }} - {{batch.quote}}</span>
                <a class="secondary-content">
                  <br  />
                  <br  />
                  <i>{{batch.date | date}} {{batch.time}}</i>
                </a>
            </li>
        </ul>
        <ul class="collection with-header col s12 m6">
            <li class="collection-header">
                <h4>Badges</h4>
            </li>
            <li class="collection-item avatar" ng-repeat="award in awards">
                <img src="{{award.image_url}}" alt="award icon" class="circle award-icon">
                <span class="title">{{award.name}}</span>
                <a class="secondary-content">
                    <i>{{award.points}}pts</i>
                </a>
            </li>
        </ul>
        <ul class="collection with-header col s12 m6">
            <li class="collection-header">
                <h4>Batch Crew Connections</h4>
            </li>
            <li class="collection-item avatar" ng-repeat="employee in employees">
                <img ng-src="{{employee.image_url}}" alt="" class="circle">
                <span class="title"><em>{{employee.description}}</em> - {{ employee.first_name }} {{employee.last_name}}</span>
                <a class="secondary-content">
                  <br  />
                  <br  />
                  <i>{{employee.name}} <span ng-if="employee.count > 1"> - {{employee.count}} batches</span></i>
                </a>
            </li>
        </ul>

        <ul class="collection with-header col s12 m6">
            <li class="collection-header">
                <h4>Batch Buddies</h4>
            </li>
            <li class="collection-item avatar" ng-repeat="buddy in buddies">
                <span class="title">{{buddy.first_name}} {{buddy.last_name}}</span>
                <a class="secondary-content">
                  <br  />
                  <br  />
                  <i>{{buddy.count}}
                    <ng-pluralize count="buddy.count"
                 when="{'one': 'batch',
                     'other': 'batches'}">
                   </ng-pluralize>
                     in common</i>
                </a>
            </li>
        </ul>
    </div>
</div>
