<div class="row">
  <div class="container">
    <div class="row">
        <h1 class="col s8">Redeem Points</h1>
        <div class="valign-wrapper col s4"><h3 class="red-text valign">{{points}} Points</h3></div>
    </div>
    <div class="row">
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="material-icons">subject</i>Quote</div>
                <div class="collapsible-body">
                  <div class="container">
                    <h3>Submit a Quote - 5,000pts</h3>
                    <label for="quote">Personal Quote</label>
                    <input type="text" id="quote" name="quote" value="">
                    <button class="btn red" name="button">Submit</button>
                    <br>
                    <br>
                  </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">redeem</i>Swag</div>
                <div class="collapsible-body">
                  <div class="container">
                    <div class="row">
                      <div class="card col s3 swag">
                         <div class="card-image waves-effect waves-block waves-light">
                           <img class="activator" src="../../assets/shirt.png">
                         </div>
                         <div class="card-content">
                           <span class="card-title activator grey-text text-darken-4">Shirt - 1,300pts</span>
                         </div>
                       </div>
                      <div class="card col s3 swag">
                         <div class="card-image waves-effect waves-block waves-light">
                           <img class="activator" src="../../assets/hat.png">
                         </div>
                         <div class="card-content">
                           <span class="card-title activator grey-text text-darken-4">Hat - 900pts</span>
                         </div>
                       </div>
                      <div class="card col s3 swag">
                         <div class="card-image waves-effect waves-block waves-light">
                           <img class="activator" src="../../assets/sticker-set.png">
                         </div>
                         <div class="card-content">
                           <span class="card-title activator grey-text text-darken-4">Stickers - 500pts</span>
                         </div>
                       </div>
                     </div>
                   </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">supervisor_account</i>Extras</div>
                <div class="collapsible-body">
                  <div class="container">
                    <h4>Date with Walt - Priceless</h4>
                    <img class="materialboxed walt" width="650" src="../../assets/walt.jpeg" alt="walt" />
                    <br>
                  </div>
                </div>
            </li>
        </ul>
    </div>
</div>
