<div class="row center-align" ng-show="loading">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
<header class="row" ng-show="!loading" style="margin-top:10px;">
    <div class="col s12 center-align">
        <img style="height:400px;width:auto;" ng-src="{{beer.label_image.original}}">
        <h1>{{beer.name}}</h1>
        <h5>
            {{beer.description}}
        </h5>
        <a ng-href="https://www.averybrewing.com/beers/{{beer.id}}">More Info</a>
    </div>
</header>
<main class="row center-align" ng-show="employees">
    <div class="col s4" ng-repeat="employee in employees">
        <section>
            <img class="circle responsive-img" ng-src="{{employee.image_url}}" alt=""/>
            <h4>{{employee.first_name}}
                {{employee.last_name}}</h4>
            <h5>{{employee.name}}</h5>
        </section>
    </div>
    <div class="more-info row">
        <div class="col 12">
        </div>
    </div>
</main>
<main class="row center-align" ng-show="!loading && !employees">
  <h1>No brew data found. :(</h1>
</main>
