<div class="row center-align" ng-show="loading">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
<header class="row dashboardBanner" ng-show="!loading">
  <div class="col s6 center-align">
    <img style="height:300px;width:auto;" ng-src="{{beer.label_image.original}}">
  </div>
  <div class="col s6">
    <h1>{{beer.name}}</h1>
    <h5>
        {{beer.description}}
    </h5>
    <br>
    <a ng-href="https://www.averybrewing.com/beers/{{beer.id}}">More Info</a>
    <div ng-if="!loggedIn()">
      <h4>Login or Signup to Save Your Batches</h4>
      <a class="waves-effect waves-light btn red" ui-sref="dashboard.signup">Signup</a>
      <a class="waves-effect waves-light btn red" ui-sref="dashboard.login">Login</a>
    </div>
  </div>
</header>
<main class="row center-align" ng-show="employees">
    <div class="row">
      <h3>Meet The Crew</h3>
      <div class="col s4" ng-repeat="employee in employees">
          <section>
              <h4>{{employee.description}}</h4>
              <img class="circle responsive-img" ng-src="{{employee.image_url}}" alt=""/>
              <h4>{{employee.first_name}}
                  {{employee.last_name}}</h4>
              <h5>{{employee.name}}</h5>
          </section>
      </div>
    </div>
    <div class="more-info row">
        <section class="col" ng-class="{s12: !loggedIn(), s6: loggedIn()}">
          <img class="circle responsive-img" src="http://ww1.prweb.com/prfiles/2006/01/17/334317/NewTank3.jpg" alt="" />
          <h4>Tank</h4>
          <h5>{{batch.tank}}</h5>
        </section>
        <section class="col s6" ng-if="loggedIn()">
          <ul class="collection with-header">
              <li class="collection-header"><h4>Batch Buddies</h4></li>
             <li class="collection-item avatar" ng-repeat="buddy in buddies" ui-sref="dashboard.user({id: buddy.id})">
               <span class="title">{{buddy.first_name}} {{buddy.last_name}}</span>
               <a class="secondary-content">
                 <br  />
                 <br  />
                 <i>{{buddy.count}}
                   <ng-pluralize count="buddy.count"
                when="{'one': 'batch',
                    'other': 'batches'}">
                  </ng-pluralize>
                    in common</i>
               </a>
           </li>
           </ul>
        </section>
    </div>
</main>
<main class="row center-align" ng-show="!loading && !employees">
  <h1>No brew data found. :(</h1>
</main>
